*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/app/*.iml
/app/app.iml
/app/network/*.iml
/app/network/network.iml
/app/network/build
/network/*.iml
/network/network.iml
/network/build
